<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.configserver.dao"/>
    <context:component-scan base-package="com.configserver.manager"/>
    <context:component-scan base-package="com.configserver.common"/>
    <context:annotation-config />

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database.properties" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${initialSize}" />
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${maxIdle}" />
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${minIdle}" />
        <!-- 获取连接最大等待时间 -->
        <property name="maxWaitMillis" value="${maxWait}" />
    </bean>

    <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>

    <!-- DAO -->
    <!--
    <bean id="userDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hehaoyisheng.bcgame.dao.UserDAO"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    -->

    <!-- 调度 -->
    <!--
    <bean id="buchangJob" class="com.hehaoyisheng.bcgame.job.BuchangJob" />


    <bean id="buchangDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="buchangJob" />
        <property name="targetMethod" value="execute"/>
        <property name="name" value="buchangJob" />
        <property name="group" value="buchang" />
    </bean>

    <bean id="buchangTigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="buchangDetail" />
        <property name="cronExpression" value="0 * * * * ?" />
        <property name="name" value="buchangJob" />
        <property name="group" value="buchang" />
    </bean>

    <bean id="schedulerfactory" name="schedulerfactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" >
        <property name="triggers">
            <list>
                <ref bean="buchangTigger"/>
            </list>
        </property>
        <property name="autoStartup" value="true" />
    </bean>
    -->
</beans>